## Deliverable 2. Create a Customer Travel Destinations Map.

In [81]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
gmaps.__version__

'0.9.0'

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahebourg,MU,-20.4081,57.7000,80.60,78,75,9.22,broken clouds
1,1,Port Hardy,CA,50.6996,-127.4199,46.40,81,90,12.66,overcast clouds
2,2,Cidreira,BR,-30.1811,-50.2056,78.84,63,19,8.59,few clouds
3,3,Albany,US,42.6001,-73.9662,36.00,30,0,3.00,clear sky
4,4,Asau,RO,46.4333,26.4000,45.00,45,54,3.76,light rain

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp  = float(input ("Enter minimum temperature:"))
max_temp  = float(input ("Enter maximum temperature:"))

Enter minimum temperature:-32.0
Enter maximum temperature:90.0

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

temp_filter_data_df= city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) | (city_data_df["Max Temp"] >= min_temp)]

temp_filter_data_df.head()
#city_data_df["Max Temp"]

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahebourg,MU,-20.4081,57.7000,80.60,78,75,9.22,broken clouds
1,1,Port Hardy,CA,50.6996,-127.4199,46.40,81,90,12.66,overcast clouds
2,2,Cidreira,BR,-30.1811,-50.2056,78.84,63,19,8.59,few clouds
3,3,Albany,US,42.6001,-73.9662,36.00,30,0,3.00,clear sky
4,4,Asau,RO,46.4333,26.4000,45.00,45,54,3.76,light rain

In [25]:
# 4a. Determine if there are any empty rows.
temp_filter_data_df.isnull().sum()

City_ID                 0
City                    0
Country                13
Lat                     0
Lng                     0
Max Temp                0
Humidity                0
Cloudiness              0
Wind Speed              0
Current Description     0
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
temp_filter_data2_df=temp_filter_data_df.dropna()
temp_filter_data2_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [71]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = temp_filter_data2_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1890,Ushtobe,KZ,17.15,snow,45.2514,77.9838,
1891,Santiago De Cao,PE,73.40,fog,-7.9589,-79.2392,
1892,Champagnole,FR,41.00,light rain,46.7445,5.9135,
1893,Mishkino,RU,9.84,clear sky,55.3389,63.9175,
1894,Barreirinhas,BR,84.16,overcast clouds,-2.7469,-42.8264,
1896,Teguise,ES,68.00,scattered clouds,29.0605,-13.5640,
1897,Bushehr,IR,66.20,sand,28.9684,50.8385,
1898,Arras,FR,51.01,overcast clouds,50.2930,2.7819,
1899,Basco,PH,73.85,scattered clouds,20.4487,121.9702,
1900,Jhang,PK,66.00,moderate rain,33.6748,72.6963,

In [36]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 10000,
    "types": "lodging",
    "key": g_key,
    "location": "42.6001, -73.9662"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'results': [{'business_status': 'CLOSED_TEMPORARILY',
   'geometry': {'location': {'lat': 42.606152, 'lng': -73.888217},
    'viewport': {'northeast': {'lat': 42.60782828029151,
      'lng': -73.88677596970848},
     'southwest': {'lat': 42.60513031970851, 'lng': -73.88947393029149}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Inn at Deer Meadow',
   'permanently_closed': True,
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106582852514373932947">Richard Boyd</a>'],
     'photo_reference': 'ATtYBwJ6Mpbu8n81sRaKL3BWB-1g7MDC2hy6TgVpH5v1OIDbzB5dF3hXgJFtqwAdTmeldawM79j3MMUA0CF8ABy6onLwpeIp2UZ6yZLYTtYpRZzEfFmjyYRZSsRn-VwmIzo4ps783r8ftTzwWYc10uDLzc0JwbeLFty8zqbXVf3OVDp_vG2R',
     'width': 4032}],
   'place_id': 'ChIJAbFUW1Xe3YkRFitPd54ZQ8Y',
   'plus_code': {'compound_code': 'J446+FP Delmar, NY, USA',
    'global_code': '87J8J446+FP'},
   'rating': 5,
   'reference': 'ChIJAbFUW1Xe3YkRFitPd54ZQ8Y',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 12,
   'vicinity': '20 Deer Meadow Lane, Delmar'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.6337136, 'lng': -73.87711809999999},
    'viewport': {'northeast': {'lat': 42.63491948029149,
      'lng': -73.87586856970849},
     'southwest': {'lat': 42.6322215197085, 'lng': -73.8785665302915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Grey Gables',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 540,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116778127539328290356">Grey Gables</a>'],
     'photo_reference': 'ATtYBwLq79oMJ6RP9FfOzNUTdJYYkMSozL6MjMXYkl5G1rg51pnVtk-rAM6RRIXR33MptqJOO6iOtjHulyq-xb6SAGCw8-w5KFTAXAaWBATxmlBY11fmQzeOfbQUclsGiO0kc7n_XzYoonLYf_-3tVmRSkQIwxGAoAtIqPBti2KDYqGaVXKU',
     'width': 960}],
   'place_id': 'ChIJu4BTAJDf3YkRpb1dwpw7psw',
   'plus_code': {'compound_code': 'J4MF+F5 Slingerlands, NY, USA',
    'global_code': '87J8J4MF+F5'},
   'rating': 5,
   'reference': 'ChIJu4BTAJDf3YkRpb1dwpw7psw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 28,
   'vicinity': '127 Font Grove Road, Slingerlands'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.52686799999999,
     'lng': -73.93185249999999},
    'viewport': {'northeast': {'lat': 42.5281321802915,
      'lng': -73.9304807197085},
     'southwest': {'lat': 42.5254342197085, 'lng': -73.9331786802915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'Magic Forest Farm',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 6048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115789646662905738443">Nikki</a>'],
     'photo_reference': 'ATtYBwJwYoN-c6QJWGdINAFfr7UG1LP9i06qseYx4T4xpqmILLZ3st-bxVGCvJHH3kjo1je3777LSzZbpOcc15CUmg09Yv5g-fF16SeXwGnCtEhTAaEO6hoD2-QeaQeR7cIYVjpUHFdpb16UpjXtoxMBXViCeiiAhuQr2s0UBE5Y_xjU86uy',
     'width': 8064}],
   'place_id': 'ChIJ65Rbm4Tc3YkRkuJGfQRtzqI',
   'plus_code': {'compound_code': 'G3G9+P7 Coeymans Hollow, NY, USA',
    'global_code': '87J8G3G9+P7'},
   'rating': 4,
   'reference': 'ChIJ65Rbm4Tc3YkRkuJGfQRtzqI',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'general_contractor',
    'point_of_interest',
    'store',
    'establishment'],
   'user_ratings_total': 12,
   'vicinity': '134 Bucks Ranch Road, Coeymans Hollow'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.581105, 'lng': -74.07950389999999},
    'viewport': {'northeast': {'lat': 42.5827071302915,
      'lng': -74.07792996970849},
     'southwest': {'lat': 42.5800091697085, 'lng': -74.0806279302915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
   'name': 'Woodstock Lake Campground',
   'photos': [{'height': 1836,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112441966264025162370">Jon Currey</a>'],
     'photo_reference': 'ATtYBwKFQUyJXNsLetDnc3MQs5tw-VYugkdX1i9Mka7DDj_WxtMy2Z1ZTtDtInj-JH_TFSUKSN_uBcEG3uHFVdsIUCyWvY4YLO0OpQd8YdwSYdNQtCldNFmpVuCPYLD3aGoYIpK3z44o3TjR9zb6K1ckKMd_yzBxOb8N1iyRPqENwvJftEfC',
     'width': 3264}],
   'place_id': 'ChIJVSE02iDR3YkR1xdyHfneZ9g',
   'plus_code': {'compound_code': 'HWJC+C5 East Berne, NY, USA',
    'global_code': '87J7HWJC+C5'},
   'rating': 4.3,
   'reference': 'ChIJVSE02iDR3YkR1xdyHfneZ9g',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 16,
   'vicinity': '735 Woodstock Road, East Berne'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.6320317, 'lng': -73.9040517},
    'viewport': {'northeast': {'lat': 42.6335464802915,
      'lng': -73.9027214697085},
     'southwest': {'lat': 42.6308485197085, 'lng': -73.9054194302915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Blackbirds Estates',
   'place_id': 'ChIJhVs8H7vf3YkRAwjVQV_ZV7o',
   'plus_code': {'compound_code': 'J3JW+R9 Slingerlands, NY, USA',
    'global_code': '87J8J3JW+R9'},
   'rating': 3.3,
   'reference': 'ChIJhVs8H7vf3YkRAwjVQV_ZV7o',
   'scope': 'GOOGLE',
   'types': ['rv_park', 'lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 3,
   'vicinity': '1990 New Scotland Road, Slingerlands'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.644108, 'lng': -73.90691819999999},
    'viewport': {'northeast': {'lat': 42.6454528302915,
      'lng': -73.9055579197085},
     'southwest': {'lat': 42.6427548697085, 'lng': -73.9082558802915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'LeVie Farms',
   'place_id': 'ChIJN86Rnwvf3YkR7wcQYTpBXOs',
   'plus_code': {'compound_code': 'J3VV+J6 Voorheesville, NY, USA',
    'global_code': '87J8J3VV+J6'},
   'rating': 4,
   'reference': 'ChIJN86Rnwvf3YkR7wcQYTpBXOs',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': 'Eagle Court, Voorheesville'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.6491508, 'lng': -73.9035797},
    'viewport': {'northeast': {'lat': 42.6505480302915, 'lng': -73.9027656},
     'southwest': {'lat': 42.6478500697085, 'lng': -73.906022}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Kensington Drive N',
   'place_id': 'ChIJmwlWUbd13okRG4lywPQRwOs',
   'plus_code': {'compound_code': 'J3XW+MH Slingerlands, NY, USA',
    'global_code': '87J8J3XW+MH'},
   'rating': 3,
   'reference': 'ChIJmwlWUbd13okRG4lywPQRwOs',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': '106 Hilton Road, Slingerlands'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.63354040000001, 'lng': -73.8783183},
    'viewport': {'northeast': {'lat': 42.6349962302915,
      'lng': -73.87689326970849},
     'southwest': {'lat': 42.6322982697085, 'lng': -73.87959123029151}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Red Cottage',
   'photos': [{'height': 1792,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113943892973135840728">The Red Cottage</a>'],
     'photo_reference': 'ATtYBwKdjWcV6DiZdaMNbZ1Ye1X-xa7MyatO9Gy4c86ut0WZAIusf-8-fDXnzGnwo7cpHZbhRqYia2UsniMxbYH0gGbPyeljcPkMeJdZIwlYLPTSaw5pWiVVTLOOsdihWgbAkv00giHVGvnPHmON4qLWvKXNVaQP6r7pMLuOVtt5D5vH5l6Q',
     'width': 2739}],
   'place_id': 'ChIJXyoEv5rf3YkRC4-_gEraNz0',
   'plus_code': {'compound_code': 'J4MC+CM Slingerlands, NY, USA',
    'global_code': '87J8J4MC+CM'},
   'rating': 5,
   'reference': 'ChIJXyoEv5rf3YkRC4-_gEraNz0',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': '138 Font Grove Road, Slingerlands'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 42.6527452, 'lng': -74.0491065},
    'viewport': {'northeast': {'lat': 42.65401843029149,
      'lng': -74.04771131970848},
     'southwest': {'lat': 42.65132046970849, 'lng': -74.05040928029149}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
   'name': "Thompson's Lake State Park Campground",
   'photos': [{'height': 2952,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104648680699969786845">Andrew B</a>'],
     'photo_reference': 'ATtYBwLlRVpcgpZQrcair3kPqzkSqLh0s39TXtL2CS_8-V9s1nIpge6Dm9XfRPNR8hmjz1bYlkFvBmr4EJ2fUTO3_m_miyA7ghYrVH7ti_1NZdrmlN1qaFY2ugDYQZ1t5cJcW__5rMLNOj_cB28DuByv8QYVrxvHwDQMRYjIC8gLi6Xoy_cS',
     'width': 5248}],
   'place_id': 'ChIJsRpoBuzX3YkRr-WuRaKnSfg',
   'plus_code': {'compound_code': 'MX32+39 East Berne, NY, USA',
    'global_code': '87J7MX32+39'},
   'rating': 4.4,
   'reference': 'ChIJsRpoBuzX3YkRr-WuRaKnSfg',
   'scope': 'GOOGLE',
   'types': ['campground',
    'lodging',
    'park',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 289,
   'vicinity': '68 Thompsons Lake Road, East Berne'}],
 'status': 'OK'}

In [72]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 20000,
    "type": "lodging",
    "key": g_key
}

 
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df.head(200)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahebourg,MU,80.60,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,Port Hardy,CA,46.40,overcast clouds,50.6996,-127.4199,Providence Place
2,Cidreira,BR,78.84,few clouds,-30.1811,-50.2056,Casa 2 dormitórios Oasis Sul
3,Albany,US,36.00,clear sky,42.6001,-73.9662,CrestHill Suites SUNY University Albany
4,Asau,RO,45.00,light rain,46.4333,26.4000,Casa Mika Ciobanus
...,...,...,...,...,...,...,...
198,Saint-Pierre,RE,78.80,clear sky,-21.3393,55.4781,Sud Hôtel
199,Taicheng,CN,42.49,clear sky,38.7310,113.2280,Red Banner Hotel
200,Mar Del Plata,AR,75.20,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
201,Khatanga,RU,-13.83,overcast clouds,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
202,Ciudad Bolivar,VE,88.52,overcast clouds,8.1222,-63.5497,Hotel Edi

In [75]:
# 7. Drop the rows where there is no Hotel Name. (I ran out of api calls due to the large amount of )
import numpy as np
hotel_df["Hotel Name"] =hotel_df["Hotel Name"].replace('',np.nan)

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahebourg,MU,80.60,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,Port Hardy,CA,46.40,overcast clouds,50.6996,-127.4199,Providence Place
2,Cidreira,BR,78.84,few clouds,-30.1811,-50.2056,Casa 2 dormitórios Oasis Sul
3,Albany,US,36.00,clear sky,42.6001,-73.9662,CrestHill Suites SUNY University Albany
4,Asau,RO,45.00,light rain,46.4333,26.4000,Casa Mika Ciobanus
...,...,...,...,...,...,...,...
1896,Teguise,ES,68.00,scattered clouds,29.0605,-13.5640,Hotel Beatriz Playa & SPA
1897,Bushehr,IR,66.20,sand,28.9684,50.8385,Yas Hotel
1898,Arras,FR,51.01,overcast clouds,50.2930,2.7819,Appartements du Beffroi
1899,Basco,PH,73.85,scattered clouds,20.4487,121.9702,Nathaniel's Lodge
1900,Jhang,PK,66.00,moderate rain,33.6748,72.6963,Usman Hall

In [76]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df.dropna()
output_data_file = "weather_database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [82]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)

In [84]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))